@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:ital@1&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background: #000;
}

.nav {
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 29px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 30px 13px 30px;
    text-decoration: none;
    color: #efefef;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.nav>#nav-check {
    display: none;
}

.but {
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    background-color: #FA9021;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
}

.tit {
    color: white;
    text-align: center;
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
}

.global {
    text-align: center;
    margin-top: 100px;
}

.hello {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.lorem {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

main {
    background-color: #1C140F;
    padding: 10px;
}

.message,
.email,
.name {
    color: #4F4F4F;
    font-family: 'Poppins', sans-serif;
}

.email {
    margin-top: 10px;
}

.regwind {
    margin-top: 40px;
}

.wind {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 40px;
}

.fa-linkedin-in,
.fa-twitter,
.fa-instagram,
.fa-facebook-f {
    margin-right: 30px;
}

.wind2 {
    display: flex;
    justify-content: center;
}

.sec3 input {
    padding: 10px 200px;
    background-color: #4F4F4F;
    border: 1px solid #CECECE;
    outline: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    margin-right: 40px;
}

.sec4 textarea {
    padding: 100px 200px;
    background-color: #4F4F4F;
    border: 1px solid #CECECE;
    outline: none;
    color: white;
    margin-right: 30px;
    border-radius: 10px;
}

.wind3 {
    display: flex;
    justify-content: center;
}

.rights {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.sec1 input,
.sec2 input {
    padding: 10px 50px;
    background-color: #4F4F4F;
    border: 1px solid #CECECE;
    outline: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.button {
    text-align: center;
    margin-left: 400px;
    margin-top: 20px;
}

.button button {
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    background-color: #FA9021;
    color: white;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:1048px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav-links {
        text-align: center;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

@media (max-width:1110px) {
    .global img {
        width: 900px;
    }
}

@media (max-width:910px) {
    .global img {
        width: 700px;
    }
    .regwind {
        margin-left: 50px;
    }
}

@media (max-width:712px) {
    .global img {
        width: 500px;
    }
}

@media (max-width:648px) {
    .tit {
        font-size: 10px;
    }
}

@media (max-width:658px) {
    .vector img {
        width: 300px;
    }
}

@media (max-width:644px) {
    .wind {
        display: grid;
    }
    .sec3 input {
        width: 10%;
        padding: 10px 140px;
    }
    .sec3 {
        text-align: center;
    }
    .sec4 textarea {
        width: 30%;
    }
    .sec4 {
        text-align: center;
    }
    .button {
        margin-left: 10px;
    }
}

@media (max-width:644px) {
    .global img {
        width: 300px;
    }
    .message,
    .email {
        margin-right: 220px;
    }
}

@media (max-width:479px) {
    .sec4 textarea {
        padding: 10px 150px;
    }
}